h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald";
}
body {
    font-family: "Open Sans";
}
.adv {
    height: 200px;
}
.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.light-grey, .hover-light-grey:hover, .light-gray, .hover-light-gray:hover {
    color: #000!important;
    background-color: #f1f1f1!important;
}

.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}
.show-block, .show {
    display: block!important;
}
.animate-opacity {
    animation: opac 0.8s;
}
@keyframes opac {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
